<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Magic Mirror</title>
    <link href='//netdna.bootstrap.cdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>
